
@media only screen and (max-width: 768px) {
	body{
		background-color: #e2e3d9;
	    display: grid;
	    gap: 10px;
	}

	.barra{
		width: auto;
    	height: auto;
    	background-color: #ffffff;
   		box-shadow: 1px 1px 6px #9da8bd;
   		padding-right: 0px;
	}

	.contenedor_img {
	    width: auto;
	    height: 200px;
	    background-color: #008a88;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}

	.contenedor_titulo_barra {
	    width: auto;
	    padding: 0px 18px 0px 18px;
		margin-bottom: 15px;
		margin-top: 15px;
	}

	.contenedor_iconos {
	    padding: 20px 18px 20px 18px;
	    width: auto;
	    display: flex;
	    justify-content: center;
	    gap: 10px;
	}

	.caja_tecnologia h4 {
	    text-transform: uppercase;
	    color: #626262;
	    font-size: 14px;
	    margin: 10px 0px 10px 0px;
	    display: flex;
	    justify-content: center;
	}


}
